<!DOCTYPE html>
<html>

  <head>
    <title>Location Search</title>
    <link rel="stylesheet" type="text/css" href="static/css/locAm.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="static/js/locAm.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>


  <body onload="initLocSrch()">

    <!-- The search bar for findind a location -->
    <table id="locationField" align="center">

      <tr>
        <td id="imgintro">
          <h1> <font color=tomato>Confused!</font> </h1> 
          <img src="static/img/confused.jpg" alt="Search for things to do" width="200" height="200">
        </td>
      </tr>

      <tr>
        <td>
            <h2 id="textintro"> <font color=khaki>Find the Local amusements and activities</font></h2>
        </td>
      </tr>
      
      <tr>
        <td>
          <input id="autocomplete" placeholder="Enter the location to search for"
             onFocus="geolocate()" type="text"></input>
        </td>
      </tr>

    </table>


    <!-- This is an address table to show city, state and street addresses separately -->

    <table id="address" align="center" style="display:none">


      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
    </table>

  </body>

</html>